<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fc185">  <td>21/08/23 01:01:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostsApiTests.verifyIndivdualPostsApi(java.util.Map)[pri:0, instance:com.delta.tests.PostsApiTests@4ce1d6d0]">verifyIndivdualPostsApi</td> 
  <td>main@573136580</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>21/08/23 01:01:13</td>   <td>2302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostsApiTests.verifyPostsApi(java.util.Map)[pri:0, instance:com.delta.tests.PostsApiTests@4ce1d6d0]">verifyPostsApi</td> 
  <td>main@573136580</td>   <td></td> </tr>
</table>
